/******************header*****************/
 header a {
    color: rgb(187, 184, 184);
    margin-left: 24px;
 }
 header a:hover {
    color: black;
 }
header h1 {
   font-weight: 200;
}  
#menu-icon {
   width: 32px;
}
/******************hero-section*****************/
#hero-section {
   background-image: url(imgs/hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 60vh;  
   background-position-x: center;
}
 @media screen and (max-width: 768px) {
   #hero-section  {
        height: 50vh;
     }   
 }
 @media screen and (max-width: 414px) {
   #hero-section  {
        height:30vh;  
   }
}
#hero-section p {
font-weight: 800;
font-size: 22px;
background-color: rgb(0, 255, 170);
padding-top: 12px;
padding-bottom: 12px;
margin-top: 90px;
margin-left: 110px;
width: 550px;
}
@media screen and (max-width: 768px) {
   #hero-section p {
        position: relative;
        left: -105px;
        width: 450px;
        font-size: 18px;
     }  
 }
/******************intro-section*****************/

/******************recent-section*****************/
#recent-section h4 {
   border-bottom: 1px solid silver;
  padding-bottom: 10px;
}
/******************blog-section*****************/
#blog-section h4 {
border-bottom: 1px solid silver;
padding-bottom: 10px;
padding-top: 50px;
}
/******************last-section*****************/
#last-section {
   background-color: rgb(29, 28, 28);
}
#last-section h5 {
   padding-top: 60px;
   padding-bottom: 16px;
}
.paragraf p {
border-bottom: 1px solid;
}
.paragraf p:first-of-type {
   border-top: 1px solid;
   padding-top: 16px;
}
/******************footer*****************/
footer {
   background-color: black;
   height: 80px
}
footer p {
   padding-top: 30px;;
}

